# Database (Supabase PostgreSQL)
DATABASE_URL=postgresql+psycopg2://your_db_user:your_db_password@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres
DB_USER=your_db_user
DB_PASSWORD="your_db_password"
DB_HOST=aws-0-ap-northeast-1.pooler.supabase.com
DB_PORT=6543
DB_NAME=postgres

# Brevo (Sendinblue) Email
BREVO_SENDER_EMAIL=your_email@example.com
BREVO_API_KEY=your_brevo_api_key
BREVO_API_URL=https://api.brevo.com/v3/smtp/email

# Frontend URL
FRONTEND_URL=http://localhost:5173

# JWT Configuration
JWT_SECRET=your_jwt_secret_key
ALGORITHM=HS256
TOKEN_EXPIRY=24

# Redis Configuration (Upstash or Local)
REDIS_URL=rediss://default:your_upstash_token@your_endpoint.upstash.io:6379
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# AI Backend Stream URL
AI_STREAM_URL=https://fastapi-aiservice.vercel.app/api/process-stream

